<span class="mat-display-1">
  Rules</span>
<p class="mat-body">Matches are played according to standard USTA tennis rules, best of 3 sets. On the schedule page and on the standings page
  there is a
  <i class="fas fa-home"></i> icon indicating the home team. Home teams are responsible for providing an unopened can of balls as well as reserving
  the court. </p>

<hr />
<p class="mat-body">If you have any technical issues with the site, please send a support
  <a href="mailto:waustinlynn@gmail.com">email</a>.
</p>