<span class="mat-display-1">
  Rules</span>
<p class="mat-body">Matches are played according to standard USTA tennis rules, best of 3 sets. On the schedule page and on the standings page
  there is a
  <i class="fas fa-home"></i> icon indicating the home team. Home teams are responsible for providing an unopened can of balls as well as reserving
  the court.
  <b>Scoring: </b>Each team will receive 1 point for each set won during a match and 1 point awarded to the winner. In the event
  a team had to retire or forfeit, please send an support email below with the situation and we'll get the score posted correctly.
  Additionally, if a score is posted incorrectly, please email support. </p>

<hr />
<p class="mat-body">
  In order to view contact information and post scores, you must login with a Google account. Please send an
  <a href="mailto:waustinlynn@gmail.com">email</a> with your name and gmail account to be linked. You will recieve a confirmation reply once your account has been
  linked.
</p>
<p class="mat-body">If you have any technical issues with the site, please send a support
  <a href="mailto:waustinlynn@gmail.com">email</a>.
</p>