.example-card {
    max-width: 400px;
  }
  
mat-card {
    // margin-top: 5px;
    // margin-bottom: 5px;
    margin: 5px;
}

.winner {
    background-color: #3D9970 !important;
}

.loser {
    background-color: #85144B !important;
}

.team-info {
    padding-top: 10px;
    padding-bottom: 10px;
}


@media only screen and (max-width: 600px) {
    .flex {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 601px) {
    .flex {
        display: flex;
        flex-direction: row;
    }
}
  