.example-card {
    max-width: 400px;
  }
  
mat-card {
    margin-top: 5px;
    margin-bottom: 5px;
}

.winner {
    background-color: #3D9970 !important;
}

.loser {
    background-color: #85144B !important;
}
  