<div *ngIf="(storeData$ | async).loggedIn">
    <mat-card class="bg-navy silver">
        <div class="mat-h1 no-marg">Fieldstone Men's League</div>
        <div *ngIf="(storeData$ | async).loggedIn">
            <p class="mat-small no-marg">{{displayLabel}}</p>
        </div>
    </mat-card>

    <div *ngIf="(storeData$ | async).loggedIn; else login">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <a *ngIf="(storeData$ | async).linkedPlayer != undefined" href="teamschedule" mat-menu-item>Schedule</a>
            <a href="standings" mat-menu-item>Standings</a>
            <a href="rules" mat-menu-item>Rules/Support</a>
            <a *ngIf="(storeData$ | async).admin" href="player" mat-menu-item>Manage Players</a>
            <a *ngIf="(storeData$ | async).admin" href="players" mat-menu-item>Manage Teams</a>
            <a *ngIf="(storeData$ | async).admin" href="divisions" mat-menu-item>Manage Divisions</a>
            <a *ngIf="(storeData$ | async).admin" href="season" mat-menu-item>Create Schedule</a>
            <a *ngIf="(storeData$ | async).admin" href="sethome" mat-menu-item>Set Home Teams</a>
        </mat-menu>
    </div>

    <ng-template #login>
        <al-login (onSignIn)="onSignIn($event)"></al-login>
    </ng-template>
    <hr />
</div>
<div *ngIf="(storeData$ | async).loading; else alcontent">
    <mat-spinner></mat-spinner>
</div>
<ng-template #alcontent>
    <router-outlet></router-outlet>
    <al-snackbar [actions]="actionsForSnackbar"></al-snackbar>
</ng-template>