<mat-card>
    <div class="mat-h1 no-marg">Fieldstone Men's League</div>
    <div *ngIf="(storeData$ | async).loggedIn; else login">
        <p *ngIf="(storeData$ | async).loggedIn" class="mat-small no-marg">{{(storeData$ | async).loginData.name}}</p>
    </div>
</mat-card>

<div *ngIf="(storeData$ | async).loggedIn; else login">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <a href="player" mat-menu-item>Add Player</a>
        <a href="players" mat-menu-item>List Players</a>
    </mat-menu>
</div>

<ng-template #login>
    <al-login (onSignIn)="onSignIn($event)"></al-login>
</ng-template>
<hr />
<router-outlet></router-outlet>
<al-snackbar [actions]="actionsForSnackbar"></al-snackbar>