mat-form-field, .container-item {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-list-container {
    display: flex;
    justify-content: space-between;
}

.flex-list-item {
    display: flex;
}