<div class="container">
  <mat-form-field>
    <input matInput placeholder="First Name" [(ngModel)]="player.firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name" [(ngModel)]="player.lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Phone" [(ngModel)]="player.phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="player.email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Facility" [(ngModel)]="player.facility">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Linked Account" [(ngModel)]="linkedAccount">
  </mat-form-field>
  <button (click)="addLinkedAccount()" style="max-width: 180px;" mat-raised-button color="primary">Add Linked Account</button>
  <span class="mat-h4">Linked Accounts</span>
  <div *ngFor="let account of linkedAccounts">
    <span class="mat-body">{{account}}</span>
  </div>
</div>
<button (click)="save()" mat-raised-button color="primary">Save</button>
<div class="container">
  <mat-list role="list">
    <mat-list-item *ngFor="let player of displayPlayers" role="listitem">
      <div class="flex-list-container">
        <div class="flex-list-item">
          <!-- <button (click)="deletePlayer(player)" mat-raised-button color="warn">Delete Player</button> -->
          <button (click)="editPlayer(player)" mat-raised-button color="primary">Edit Player</button>
        </div>&nbsp;
        <div class="flex-list-item">{{player.firstName}} {{player.lastName}}</div>
      </div>
    </mat-list-item>
  </mat-list>
</div>