/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.box {
    border: 1px solid black;
    margin: 0;
}

.no-marg {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

mat-card {
    background-color: #001F3F;
    color: hsla(210, 100%, 75%, 1.0);
    font-weight: bold;
}
